/* Payment.css */
form{margin: 3% 5% 10%;height: auto;}
.form-group{display: flex;}
label{width: 45%;display: flex;white-space: nowrap;}
.form-control{width: 55%;}
#content{display: flex;flex-direction: column;justify-content: center;}
@media (max-width: 510px){
	.form-group{flex-direction: column;}
	.form-control,label{width: 100%;}
}